{% extends "base.html" %}

{% block title %}{{ page.title }} — {{ site.title }}{% endblock %}

{% block content %}
  <article class="project">
    <h1>{{ page.title }}</h1>
    {% if page.params.get('url') %}<p><a href="{{ page.params.url }}">{{ page.params.url }}</a></p>{% endif %}
    {% if terms.get('tags') %}
    <ul class="tags">
      {% for term in terms['tags'] %}
      <li><a href="{{ term.url }}">{{ term.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="body">{{ page.body_html | safe }}</div>
  </article>
{% endblock %}
